/* Basic Reset */
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: system-ui, sans-serif;
    background: url('images/flowers.jpg') center/cover no-repeat fixed;
    /* OR use a gradient like before: */
    /* background: linear-gradient(to right, #f0f0f0, #d0d0d0); */
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  

  .card {
    margin: 2rem auto;
    background: linear-gradient(to right, #6aaeffcc, #e8f5f6cf);
    padding: 3rem;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.4);
    max-width: 95%;
    min-width: 500px
  }
  
  .card-content {
    display: flex;
    align-items: center;
    gap: 3.5rem;
  }
  
  .profile-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 10px 14px 20px rgba(0, 0, 0, 0.4);
  }
  
  .text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .title {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0.2rem;
  }
  
  .subtitle {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 1em;
  }

 
  .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
  
  .links img {
    width: 50px;
    height: 50px;
    transition: transform 0.2s;
  }
  
  .links img:hover {
    transform: scale(1.1);
  }
  
  /* Mobile tweaks if needed */
  @media (max-width: 400px) {
    .profile-img {
      width: 60%;
      height: 60%;
    }
    
    .title {
      font-size: 1.5rem;
    }
  
    .subtitle {
      font-size: 1rem;
    }
  
    .links img {
      width: 32px;
      height: 32px;
    }

  } 

  @media (max-width: 655px) {
    .card {
      width: 85%;
      min-width: 0;
      padding: 3rem 0;
    }

    .text-content {
      text-align: center;
    }
    .card-content {
      flex-direction: column;
    }
  }

  #typewriter-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 40px;
  }

  #typewriter {
    display: inline-block;
    min-height: 32px;
    margin: 0;
    color: dodgerblue
  }
  
  #cursor {
    display: inline-block;
    width: 6px;
    margin-left: 3px;
    height: 24px; /* Adjust the height to match the text */
    background-color: dodgerblue;
    animation: blink 1s step-end infinite;
  }
  
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }